

.tvchannels__list-img {
    width:100px

}

.tvchannels__list {
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
    flex-wrap:wrap;
    background-color: white;
    list-style-type: none;
    
}